:host {
  display: block;

  ::ng-deep .expense-row {
    color: var(--color-danger-default);
  }

  ::ng-deep .income-row {
    color: var(--color-success-700);
  }

  ::ng-deep .text-right {
    text-align: right;
  }

  ::ng-deep .angular2-smart-row  {
    border-bottom: 1px solid var(--color-basic-default);

    &:last-child {
      border-bottom: 0;
    }
  }

  ::ng-deep angular2-smart-table-pager {
    border-radius: 4px;
    justify-content: center;
    margin-top: 24px;

    nav {
      ul {
        margin: 0 !important;

        li {
          border: 1px solid var(--color-basic-default);
          padding: 8px;
          text-align: center;
          width: 45px;

          a:hover {
            text-decoration: none;
          }

          &.active {
            background-color: var(--color-info-default);
            color: #fff;
          }
        }
      }
    }
  }
}
