:host {
  display: block;

  .actions {
    display: flex;
    gap: 16px;
    justify-content: space-between;

    &.margin {
      margin: 36px 0;
    }
  }

  ::ng-deep td.cdk-column-amount {
    text-align: right;
  }

  ::ng-deep tr.type-income {
    color: var(--color-success-700);
  }

  ::ng-deep tr.type-expense {
    color: var(--color-danger-700);
  }
}
