@if ({
  categories: categories$ | async,
  transactions: transactions$ | async
}; as obs) {
  @if (obs.categories && obs.transactions) {
    <expenses-tracker-transaction-list
      [isLoading]="obs.categories.loader || obs.transactions.loader"
      [categories]="obs.categories.data || []"
      [transactions]="obs.transactions.data || []"
      [queryParams]="dataTableQueryParams"
      [isDialogOpened]="!!(anyDialogOpened$ | async)"
      (reload)="onReloadButtonClick()"
      (transactionAdd)="onTransactionAdd(obs.categories.data || [])"
      (transactionEdit)="onTransactionEdit(obs.categories.data || [], $event)"
      (transactionRemove)="onTransactionRemove($event)"
      (searchChange)="onSearchChange($event)"
      (pageChange)="onPageChange($event)"
      (sortChange)="onSortChange($event)">
    </expenses-tracker-transaction-list>
  }
}
