:host {
  display: block;

  table {
    width: 100%;
    border-collapse: collapse;

    th {
      border: 1px solid #ddd;
      cursor: pointer;
      padding: 8px;
    }

    td {
      border: 1px solid #ddd;
      padding: 8px;
    }

    .action-buttons {
      display: flex;
      gap: 8px;
    }
  }
}
