:host {
  display: block;

  nb-card-header {
    align-items: center;
    display: flex;
    gap: 16px;
    justify-content: space-between;
  }

  nb-card-body.empty {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .text-center {
    text-align: center;
  }

  .filter {
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: space-between;
  }
}
